{
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "arrowParens": "avoid",
  "htmlWhitespaceSensitivity": "ignore",
  "ignorePath": ".prettierignore",
  "jsxBracketSameLine": false,
  "jsxSingleQuote": false,
  "trailingComma": "none",
  "bracketSpacing": true,
  "tslintIntegration": true,
  "stylelintIntegration": false
}
  