@media screen and (max-width: 1080px) {
  .font1 {
    font-size: 12px;
  }
  .font2 {
    font-size: 14px;
  }
  .font3 {
    font-size: 16px;
  }
}
@media screen and (min-width: 1080px) and (max-width: 1920px) {
  .font1 {
    font-size: 14px;
  }
  .font2 {
    font-size: 16px;
  }
  .font3 {
    font-size: 18px;
  }
}
@media screen and (min-width: 1920px) {
  .font1 {
    font-size: 18px;
  }
  .font2 {
    font-size: 20px;
  }
  .font3 {
    font-size: 22px;
  }
}
